<div class="table-container">
  <table class="table is-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>Activity</th>
      <th>Completed</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of tasks; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ task }}</td>
      <td>
        <button class="button is-small is-link">Complete</button>
      </td>
      <td>
        <button class="button is-small is-danger">Delete</button>
      </td>
    </tr>
    <!--      @for (task of tasks; track task; let i = $index) {-->
    <!--        <tr>-->
    <!--          <td>{{ i + 1 }}</td>-->
    <!--          <td>{{ task }}</td>-->
    <!--          <td>-->
    <!--            <button class="button is-small is-link">Complete</button>-->
    <!--          </td>-->
    <!--          <td>-->
    <!--          <button class="button is-small is-danger">Delete</button>-->
    <!--          </td>-->
    <!--        </tr>-->
    <!--      }-->
    </tbody>
  </table>
</div>
